<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-night.min.css"
      rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/styles-carrinho.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <title>Bora - Carrinho</title>
  </head>

  <body>
    <%- include('./partials/header') %>
    <div class="container vh-100">
      <h2 id="cart-title">Carrinho de compras</h2>
      <div class="table-responsive w-70">
        <table class="table align-middle table-striped mt-4">
          <thead>
            <tr>
              <th scope="col">Evento</th>
              <th scope="col">Preço</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% for ( let evento of carrinho ) { %>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img
                    id="img-carrinho"
                    src="<%= evento.imagem %>"
                    alt="imagem do evento adicionado ao carrinho"
                    class="rounded float-start" /><%=evento.nome%>
                </div>
              </td>
              <td><%=evento.preco%></td>
              <td>
                <a href="/carrinho/<%=evento.id%>/excluirevento" role="button" class="btn btn-lg">
                  <i class="bi bi-trash"></i>
                </a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <div class="float-end text-end">
          <h2 id="subtotal">Subtotal</h2>
          <% let soma = 0 %> <% for (let i = 0; i < carrinho.length; i++) { %> <% soma +=
          Number.parseInt(carrinho[i].preco)%> <% } %>
          <h4>R$ <%=soma.toFixed(2)%></h4>
        </div>
      </div>

      <div id="cart-buttons">
        <a class="btn btn-outline-light" href="/eventos" role="button">Continue comprando</a>
        <a class="btn btn-primary" href="#" role="button">Finalizar Compra</a>
      </div>
    </div>
    <%- include('./partials/footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script src="/javascripts/carrinho.js"></script>
  </body>
</html>
