<%- include('./partials/header') %> <% for (let evento of listaEventos) { %>
<div class="row d-flex justify-content-center mt-5">
  <div class="col-sm-4">
    <div class="card">
      <img
        class="card-img-top"
        src="<%=evento.picture%>"
        alt="Card image cap"
        id="imgnatureza"
      />
      <div class="card-body">
        <h5 class="card-title"><%=evento.title%></h5>
        <p class="card-text"><%=evento.description%></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<% } %> <%- include('./partials/footer') %>
